# Learn more https://docs.expo.dev/build-reference/easignore/

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

example

# generated native folders
/ios
/android

assets/generated
.env.local
.env.production

*.apk
*.aab
*.ipa

# Local agent skills
/.agents/skills/
/skills-lock.json

# Ignore unnecessary files/directories for EAS Build
/docs
/coverage

# Include files ignored by git that EAS Build requires
!google-services.json
